body {
  animation: debut 1s ease-in-out;
  background-color: #2e0000;
  font-family: Arial, sans-serif;
  padding: 50px;
}
@keyframes debut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contactez-moi {
  text-align: center;
  color: #CF9893;
  font-size: 60px;
}

.form {
  background-color: #d1c97d;
  padding: 40px;
  border-radius: 10px;
  max-width: 800px;
  margin: 50px auto;
  color: #627264;
  font-size: 25px;
}

.label {
  display: block;
  margin-top: 15px;
  font-size: 18px;
}

.input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #CF9893;
  opacity: 50%;
}

.button {
  background-color: #627264;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.5s;
  background-color: 0.5s;
}

.button:hover {
  background-color: #CF9893;
}