/*Pour que le défillement soit fluide*/
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /*Police d'écriture*/
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  position: relative;
  height: 100%;
  background-color: #d1c97d;

}
.topnav {
  /*Pour que le text trop grand soit masqué*/
  overflow: hidden;
  background-color: #2e0000;
}

.topnav a {
  /*Pour que les écriture soient a gauche*/
  float: left;
  color: #d1c97d;
  text-align: center;
  /*Marge entre les texts*/
  padding: 17px 16px;
  /*Supprime le soulignement automatique*/
  text-decoration: none;
  font-size: 17px;
  transition: .5s; 
}
/*a hover = quand le curseur passe sur cette endroit*/
.topnav a :hover {
  border-color: #d1c97d;
}

.topnav a:hover {
  background-color: #2e0000;
  color: #CF9893;
}

.topnav a.active {
  background-color: #d1c97d;;
  color: #493843;
}
/*Nom au dessus de ma tete*/
.name {
  margin-left: 800px ;
  margin-top: 100px;
}
.tete{
  display: block;
  height: 400px;
  border-width: 5px;
  border-color: #2e0000;
  border-style: solid;
  margin-left: 10px;
}
/*Carré informations*/
.square1{
  height: 400px;
  width: 600px;
  background-color: #2e0000;
  border-style: solid;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
}
.square1:hover{
  background-color: #627264;
}

.info{
  color: #d1c97d;
  font-size: 60px;
  align-items: center;
  text-align: center;
  margin-top: 130px;
}
.infotxt{
  color: #CF9893;
  font-size: 30px;
  align-items: center;
  text-align: center;
  margin-top: 1px;
  opacity: 0;
  transition: 0.3s ease;
  /*ease = type de transition constant*/
}
/*Pour que le text info s'affiche que quand y'a le curseur*/
.square1:hover .infotxt{
  opacity: 1;
}

.square2{
  height: 400px;
  width: 600px;
  background-color: #2e0000;
  border-style: solid;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
}
.square2:hover{
  background-color: #627264;
}
.contact{
  color: #d1c97d;
  font-size: 60px;
  align-items: center;
  text-align: center;
  margin-top: 0px;
}
.tete-et-square{
  display: flex;
  gap: 50px;
  justify-content:center;
  align-items: center;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.rectangle {
  height: 10px;
  width: 1200px;
  margin-left: 290px;
  background-color: #627264;
  border-style: solid;
  margin-top: 300px;
  border-color: #627264
}
.moi{
  height: 500px;
  width: 1000px;
  background-color: #2e0000;
  border-style: solid;
  cursor: pointer;
  margin-left: 399px;
  margin-top: 150px;
}
.formation {
  height: 750px;
  width: 1000px;
  background-color: #2e0000;
  border-style: solid;
  cursor: pointer;
  margin-left: 400px;
  margin-top: 120px;
}
.formations {
  font-size: 65px;
  color: #d1c97d;
  text-align: center;
}
.formationstext {
  font-size: 25px;
  color: #d1c97d;
  text-align: justify;
  margin-top: 100px;
  align-items: center;
  margin-left: 50px;
}
.diplome {
  height: 350px;
  width: 800px;
  background-color: #2e0000;
  border-style: solid;
  cursor: pointer;
  margin-left: 500px;
  margin-top: 120px;
}
.Bac {
  font-size: 25px;
  color: #CF9893;
  text-align: center;
  margin-top: 120px;
  align-items: center;
}
.bac {
  display: flex ;
  height: 200px;
  border-width: 0px;
  border-color: #2e0000;
  border-style: solid;
  align-items: center;
  margin-left: 400px;
}
.presentations {
    display: flex ;
  font-size: 25px;
  color: #d1c97d;
  /*Pour que le texte soit casi collé aux bordure*/
  text-align: justify;
  margin-top: 100px;
  align-items: center;
}
.exp {
    display: flex ;
  height: 450px;
  width: 1200px;
  background-color: #2e0000;
  border-style: solid;
  cursor: pointer;
  margin-left: 300px;
  margin-top: 120px;
}
.ex {
    display: flex ;
  font-size: 50px;
  color: #d1c97d;
  text-align: center;
  margin-top: 70px;
}
.textxp {
    display: flex ;
  font-size: 25px;
  color: #d1c97d;
  text-align: justify;
  margin-top: 100px;
  align-items: center;
  margin-left: 50px;
}
.insta-container {
    display: flex ;
  text-align: center;
  margin-top: 50px;
}

.insta-button {
  background-color: #2e0000;
  color: #d1c97d;
  font-size: 10px;
  padding: 15px 30px;
  border: 2px solid #627264;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.insta-button:hover {
    display: flex ;
  background-color: #627264;
  color: #fff;
}

.insta-logo {
  height: 30px;
  width: 30px;
}
.github-container {
  text-align: center;
  margin-top: 50px;
}

.github-button {
  background-color: #627264;
  color: #d1c97d;
  font-size: 10px;
  padding: 15px 30px;
  border: 2px solid #2e0000;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.github-button:hover {
  background-color: #CF9893;
}

.github-logo {
  height: 30px;
  width: 30px;
} 
.rectangledeux {
  height: 10px;
  width: 1190px;
  margin-left: 1px;
  background-color: #627264;
  border-style: solid;
  margin-top: 300px;
  border-color: #627264
}
